[project]
	description = test for ghci_ws
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/VinayaNP
[access "refs/for/refs/*"]
	read = group user/VinayaNP
	push = group user/VinayaNP
	label-Code-Review = -2..+2 group user/VinayaNP
	label-Verified = -1..+1 group user/VinayaNP
	rebase = group user/VinayaNP
	removeReviewer = group user/VinayaNP
	submit = group user/VinayaNP
[access "refs/heads/*"]
	read = group user/VinayaNP
	create = group user/VinayaNP
	push = +force group user/VinayaNP
	pushMerge = group user/VinayaNP
[access "refs/tags/*"]
	push = +force group user/VinayaNP
	pushTag = group user/VinayaNP
	pushSignedTag = group user/VinayaNP
